<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <!-- nav header 导航栏左侧-->
    <div class="navbar-header">
        <!--响应式布局按钮，用于触发侧边栏-->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#sidebar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!--nav brand-->
        <a class="navbar-brand" href="">智慧农业管理系统</a>
        <ul class="nav navbar-nav left-ul">
            <li><a href="sys"><i class="fa fa-paper-plane"></i>系统管理</a></li>
            <li><a href="business"><i class="fa fa-truck"></i>商务管理</a></li>
        </ul>
    </div>
    <!-- 导航栏右侧 -->
    <ul class="nav navbar-right top-nav">
        <!--消息提示下拉-->
        <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle tip-view" data-toggle="dropdown">
                <i class="fa fa-bell"></i>消息<i class="fa fa-caret-down"></i><i id="tip-view-point"></i>
            </a>
            <ul class="dropdown-menu alert-dropdown">
                <li>
                    <a href="javascript:void(0);"><i class="fa fa-fax"></i>
                        后台订单 <span class="label label-primary">0</span></a>
                </li>
                <li>
                    <a href="javascript:void(0);"><i class="fa fa-commenting-o"></i>
                        系统提示 <span class="label label-info">0</span></a>
                </li>
                <li>
                    <a href="sys/warn/detail"><i class="fa fa-exclamation-triangle"></i>
                        系统报警 <span id="warn-count" class="label label-danger">0</span></a>
                </li>
            </ul>
        </li>
        <!--用户信息下拉-->
        <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user"></i>管理员001<i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="javascript:void(0);"><i class="fa fa-fw fa-user"></i>个人信息</a>
                </li>
                <li>
                    <a href="javascript:void(0);"><i class="fa fa-fw fa-gear"></i>设置</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="javascript:void(0);"><i class="fa fa-fw fa-power-off"></i>退出登录</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
<script type="text/javascript" src="js/common/topNav.js"></script>