<!DOCTYPE html>
<html>
<head>
    <!-- headers -->
    <#include "/common/standard.html"/>
    <#include "/common/echarts.html"/>
    <#include "/common/bootstrap-select.html"/>
    <title>图表分析</title>
</head>
<body>
<div id="wrapper">
    <!-- top navigation-->
    <#include "/common/topNav.html"/>

    <!-- side navigation -->
    <#include "/sys/sysSideNav.html"/>

    <!-- page content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="page-header">
                <h2>图表分析</h2>
            </div>

            <div class="row col-md-12">
                <ol class="breadcrumb">
                    <li><a href="sys">首页</a></li>
                    <li><a href="sys/data/analysis">图表分析</a></li>
                </ol>
            </div>

            <!-- 查询工具栏 -->
            <div class="form-inline" id="queryToolBar">
                <div class="form-group">
                    <label for="queryDataType">数据类型：</label>
                    <select id="queryDataType" class="selectpicker" data-live-search="true">
                        <option value="" class="hide-option">请选择数据类型</option>
                        <option value="1,2,3,4">温度、湿度</option>
                        <option value="5">光照度</option>
                        <option value="6">Co2浓度</option>
                        <option value="7">pH（土壤酸碱度）</option>
                        <option value="8,9,10,11,12">土壤元素含量</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="queryFieldId">大棚编号：</label>
                    <select id="queryFieldId" class="selectpicker" data-live-search="true">
                        <option value="" class="hide-option">请选择大棚编号</option>
                        <#list fields as field>
                        <option value="${(field.fieldId)!}">NO.${(field.fieldId)!}</option>
                    </#list>
                    </select>
                </div>
                <button class="btn btn-primary" id="init-chart">生成图表</button>
            </div>
            <hr>

        </div>

        <div class="col-md-12" id="chart" style="width: 100%; height:480px;"></div>
    </div><!--container-->
</div><!--page wrapped-->

</div><!--wrapped-->
<script type="text/javascript" src="js/sys/data/analysis.js"></script>
</body>
</html>