<!DOCTYPE html>
<html>
<head>
    <!-- headers -->
    <#include "/common/standard.html"/>
    <#include "/common/bootstrap-table.html"/>
    <title>地块档案</title>
</head>
<body>
<div id="wrapper">
    <!-- top navigation-->
    <#include "/common/topNav.html"/>

    <!-- side navigation -->
    <#include "/sys/sysSideNav.html"/>

    <!-- page content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="page-header">
                <h2>地块档案</h2>
            </div>

            <div class="row col-md-12">
                <ol class="breadcrumb">
                    <li><a href="sys">首页</a></li>
                    <li><a href="sys/file">档案管理</a></li>
                    <li><a href="sys/file/block">地块档案</a></li>
                </ol>
            </div>

            <!-- 查询工具栏 -->
            <div class="form-inline" id="queryToolBar">
                <div class="form-group">
                    <label for="queryBlockId">地块编号：</label>
                    <input id="queryBlockId" class="form-control">
                </div>
                <div class="form-group">
                    <label for="queryBlockName">地块名称：</label>
                    <input id="queryBlockName" class="form-control">
                </div>
                <button class="btn btn-primary" id="queryBtn">查询</button>
                <button class="btn btn-success" id="resetBtn">重置</button>
                <button class="btn btn-danger" id="addBtn">新增</button>
            </div>
            <hr>

            <table id="blockFileTable"></table>

            <!-- 新增模态窗 -->
            <div class="modal fade" id="addModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">×</button>
                            <h4 class="modal-title">新增地块信息</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-inline btm-px">
                                <div class="form-group">
                                    <label for="addBlockId">地块编号：</label>
                                    <input id="addBlockId" class="form-control" placeholder="地块编号不可为空">
                                </div>
                                <div class="form-group">
                                    <label for="addBlockName">地块名称：</label>
                                    <input id="addBlockName" class="form-control" placeholder="地块名称不可为空">
                                </div>
                            </div>
                            <div class="form-inline btm-px">
                                <div class="form-group">
                                    <label for="addBlockLoc">地块位置：</label>
                                    <input id="addBlockLoc" class="form-control inline-lg-size" placeholder="地块位置不可为空">
                                </div>
                            </div>
                            <div class="form-inline">
                                <div class="form-group">
                                    <label for="addBlockPs">地块备注：</label>
                                    <textarea id="addBlockPs" class="form-control" placeholder="限输入80个字符" rows="3"
                                              cols="60"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button class="btn btn-primary" id="saveAdd">保存</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 修改模态窗 -->
            <div class="modal fade" id="modifyModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">×</button>
                            <h4 class="modal-title">修改地块信息</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-inline btm-px">
                                <div class="form-group">
                                    <label for="modifyBlockId">地块编号：</label>
                                    <p id="modifyBlockId" class="form-control-static"></p>
                                </div>
                                <div class="form-group">
                                    <label for="modifyBlockName">地块名称：</label>
                                    <input id="modifyBlockName" class="form-control" placeholder="地块名称不可为空">
                                </div>
                            </div>
                            <div class="form-inline btm-px">
                                <div class="form-group">
                                    <label for="modifyBlockLoc">地块位置：</label>
                                    <input id="modifyBlockLoc" class="form-control inline-lg-size"
                                           placeholder="地块位置不可为空">
                                </div>
                            </div>
                            <div class="form-inline">
                                <div class="form-group">
                                    <label for="modifyBlockPs">地块备注：</label>
                                    <textarea id="modifyBlockPs" class="form-control" placeholder="限输入80个字符" rows="3"
                                              cols="60"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button class="btn btn-primary" id="saveModify">保存</button>
                        </div>
                    </div>
                </div>
            </div>

        </div><!--container-->
    </div><!--page wrapped-->

</div><!--wrapped-->
</body>
<script type="text/javascript" src="js/sys/file/blockFile.js"></script>
</html>