<!DOCTYPE html>
<html>
<head>
    <!-- headers -->
    <#include "/common/standard.html"/>
    <#include "/common/bootstrap-table.html"/>
    <#include "/common/bootstrap-select.html"/>
    <title>员工档案</title>
</head>
<body>
<div id="wrapper">
    <!-- top navigation-->
    <#include "/common/topNav.html"/>

    <!-- side navigation -->
    <#include "/sys/sysSideNav.html"/>

    <!-- page content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="page-header">
                <h2>员工档案</h2>
            </div>

            <div class="row col-md-12">
                <ol class="breadcrumb">
                    <li><a href="">首页</a></li>
                    <li><a href="sys/file">档案管理</a></li>
                    <li><a href="sys/file/employee">员工档案</a></li>
                </ol>
            </div>

            <!-- 查询工具栏 -->
            <div class="form-inline" id="queryToolBar">
                <div class="form-group">
                    <label for="queryEmpId">员工编号：</label>
                    <input id="queryEmpId" class="form-control">
                </div>
                <div class="form-group">
                    <label for="queryEmpName">员工姓名：</label>
                    <input id="queryEmpName" class="form-control">
                </div>
                <button class="btn btn-primary" id="queryBtn">查询</button>
                <button class="btn btn-success" id="resetBtn">重置</button>
                <button class="btn btn-danger" id="addBtn">新增</button>
            </div>
            <hr>

            <table id="employeeFileTable"></table>

            <!-- 新增模态窗 -->
            <div class="modal fade" id="addModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">×</button>
                            <h4 class="modal-title">新增员工信息</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-inline btm-px">
                                <div class="form-group">
                                    <label for="addEmpId">员工编号：</label>
                                    <input id="addEmpId" class="form-control" placeholder="员工编号不可为空">
                                </div>
                                <div class="form-group">
                                    <label for="addEmpName">员工姓名：</label>
                                    <input id="addEmpName" class="form-control" placeholder="员工姓名不可为空">
                                </div>
                            </div>
                            <div class="form-inline btm-px">
                                <div class="form-group">
                                    <label for="addEmpTel">联系电话：</label>
                                    <input id="addEmpTel" class="form-control" placeholder="员工联系电话不可为空">
                                </div>
                                <div class="form-group">
                                    <label for="addEmpPosition">员工职位：</label>
                                    <input id="addEmpPosition" class="form-control">
                                </div>
                            </div>
                            <div class="form-inline btm-px">
                                <div class="form-group">
                                    <label for="addEmpAge">员工年龄：</label>
                                    <input id="addEmpAge" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="addEmpSex">员工性别：</label>
                                    <select id="addEmpSex" class="selectpicker">
                                        <option value="" class="hide-option">请选择员工性别</option>
                                        <option value="男">男</option>
                                        <option value="女">女</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-inline">
                                <div class="form-group">
                                    <label for="addEmpPs">员工备注：</label>
                                    <textarea id="addEmpPs" class="form-control" placeholder="限输入80个字符" rows="3"
                                              cols="60"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button class="btn btn-primary" id="saveAdd">保存</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 修改模态窗 -->
            <div class="modal fade" id="modifyModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">×</button>
                            <h4 class="modal-title">修改员工信息</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-inline btm-px">
                                <div class="form-group">
                                    <label for="modifyEmpId">员工编号：</label>
                                    <p id="modifyEmpId" class="form-control-static"></p>
                                </div>
                                <div class="form-group">
                                    <label for="modifyEmpName">员工姓名：</label>
                                    <input id="modifyEmpName" class="form-control" placeholder="员工姓名不可为空">
                                </div>
                            </div>
                            <div class="form-inline btm-px">
                                <div class="form-group">
                                    <label for="modifyEmpTel">联系电话：</label>
                                    <input id="modifyEmpTel" class="form-control" placeholder="员工联系电话不可为空">
                                </div>
                                <div class="form-group">
                                    <label for="modifyEmpPosition">员工职位：</label>
                                    <input id="modifyEmpPosition" class="form-control">
                                </div>
                            </div>
                            <div class="form-inline btm-px">
                                <div class="form-group">
                                    <label for="modifyEmpAge">员工年龄：</label>
                                    <input id="modifyEmpAge" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="modifyEmpSex">员工性别：</label>
                                    <select id="modifyEmpSex" class="selectpicker">
                                        <option value="" class="hide-option">请选择员工性别</option>
                                        <option value="男">男</option>
                                        <option value="女">女</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-inline">
                                <div class="form-group">
                                    <label for="modifyEmpPs">员工备注：</label>
                                    <textarea id="modifyEmpPs" class="form-control" placeholder="限输入80个字符" rows="3"
                                              cols="60"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button class="btn btn-primary" id="saveModify">保存</button>
                        </div>
                    </div>
                </div>
            </div>

        </div><!--container-->
    </div><!--page wrapped-->

</div><!--wrapped-->
</body>
<#include "/common/bootbox.html"/>
<script type="text/javascript" src="js/sys/file/employeeFile.js"></script>
</html>