<!DOCTYPE html>
<html>
<head>
    <!-- headers -->
    <#include "/common/standard.html"/>
    <#include "/common/bootstrap-table.html"/>
    <#include "/common/bootstrap-select.html"/>
    <title>大棚档案</title>
</head>
<body>
<div id="wrapper">
    <!-- top navigation-->
    <#include "/common/topNav.html"/>

    <!-- side navigation -->
    <#include "/sys/file/fileSideNav.html"/>

    <!-- page content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="page-header">
                <h2>大棚档案</h2>
            </div>

            <div class="row col-md-12">
                <ol class="breadcrumb">
                    <li><a href="">首页</a></li>
                    <li><a href="sys/file">档案管理</a></li>
                    <li><a href="sys/file/field">大棚档案</a></li>
                </ol>
            </div>

            <!-- 查询工具栏 -->
            <div class="form-inline" id="queryToolBar">
                <div class="form-group">
                    <label for="queryFieldText">大棚名称：</label>
                    <input id="queryFieldText" class="form-control input-sm">
                </div>
                <div class="form-group">
                    <label for="queryBlockText">地块名称：</label>
                    <select id="queryBlockText" class="selectpicker" data-live-search="true">
                        <option value="" style="display: none;">请选择地块名称</option>
                        <#list blocks as block>
                            <option value="${block.blockId!}">${block.blockName!}</option>
                        </#list>
                    </select>
                </div>
                <div class="form-group">
                    <label for="queryCropText">作物名称：</label>
                    <select id="queryCropText" class="selectpicker" data-live-search="true">
                        <option value="" style="display: none;">请选择作物名称</option>
                        <#list crops as crop>
                            <option value="${crop.cropId!}">${crop.cropName!}</option>
                        </#list>
                    </select>
                </div>
                <div class="form-group">
                    <label for="queryUseStatusText">使用状态：</label>
                    <select id="queryUseStatusText" class="selectpicker" data-live-search="true">
                        <option value="" style="display: none;">请选择使用状态</option>
                        <option value="0">未使用</option>
                        <option value="1">使用中</option>
                    </select>
                </div>
                <button class="btn btn-primary btn-sm" id="queryBtn">查询</button>
                <button class="btn btn-primary btn-sm" id="resetBtn">重置</button>
                <button class="btn btn-primary btn-sm" id="addBtn">新增</button>
            </div>
            <hr>

            <table id="fieldFileTable"></table>

            <!-- 新增模态窗 -->
            <div class="modal fade" id="addModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">×</button>
                            <h4 class="modal-title">新增大棚</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-inline" style="padding-bottom: 15px;">
                                <div class="form-group">
                                    <label for="addFieldIdText">大棚编号：</label>
                                    <input id="addFieldIdText" class="form-control" placeholder="大棚编号不可为空">
                                </div>
                                <div class="form-group">
                                    <label for="addFieldNameText">大棚名称：</label>
                                    <input id="addFieldNameText" class="form-control" placeholder="大棚名称不可为空">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="addBlockIdText">所属地块：</label>
                                <select id="addBlockIdText" class="selectpicker" data-live-search="true">
                                    <option value="" style="display: none;">请选择地块名称（不可为空）</option>
                                    <#list blocks as block>
                                        <option value="${block.blockId!}">${block.blockName!}</option>
                                    </#list>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="addCropIdText">作物名称：</label>
                                <select id="addCropIdText" class="selectpicker" data-live-search="true">
                                    <option value="" style="display: none;">请选择作物名称</option>
                                    <#list crops as crop>
                                        <option value="${crop.cropId!}">${crop.cropName!}</option>
                                    </#list>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="addUseStatusText">使用状态：</label>
                                <select id="addUseStatusText" class="selectpicker">
                                    <option value="0">未使用</option>
                                    <option value="1">使用中</option>
                                </select>
                            </div>
                            <div class="form-inline">
                                <div class="form-group">
                                    <label for="addFieldPsText">大棚备注：</label>
                                    <input id="addFieldPsText" class="form-control" placeholder="限输入80个字符">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button class="btn btn-primary" id="saveAdd">保存</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 修改模态窗 -->
            <div class="modal fade" id="modifyModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">×</button>
                            <h4 class="modal-title">修改大棚信息</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-inline" style="padding-bottom: 15px;">
                                <div class="form-group">
                                    <label for="modifyFieldIdText">大棚编号：</label>
                                    <p id="modifyFieldIdText" class="form-control-static"></p>
                                </div>
                                <div class="form-group">
                                    <label for="modifyFieldNameText">大棚名称：</label>
                                    <input id="modifyFieldNameText" class="form-control" placeholder="大棚名称不可为空">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="modifyBlockIdText">所属地块：</label>
                                <select id="modifyBlockIdText" class="selectpicker" data-live-search="true">
                                    <#list blocks as block>
                                        <option value="${block.blockId!}">${block.blockName!}</option>
                                    </#list>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="modifyCropIdText">作物名称：</label>
                                <select id="modifyCropIdText" class="selectpicker" data-live-search="true">
                                    <option value="">待定</option>
                                    <#list crops as crop>
                                        <option value="${crop.cropId!}">${crop.cropName!}</option>
                                    </#list>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="modifyUseStatusText">使用状态：</label>
                                <select id="modifyUseStatusText" class="selectpicker">
                                    <option value="0">未使用</option>
                                    <option value="1">使用中</option>
                                </select>
                            </div>
                            <div class="form-inline">
                                <div class="form-group">
                                    <label for="modifyFieldPsText">大棚备注：</label>
                                    <input id="modifyFieldPsText" class="form-control" placeholder="限输入80个字符">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button class="btn btn-primary" id="saveModify">保存</button>
                        </div>
                    </div>
                </div>
            </div>

        </div><!--container-->
    </div><!--page wrapped-->

</div><!--wrapped-->
<script src="https://cdn.bootcss.com/bootbox.js/4.4.0/bootbox.min.js"></script>
<script type="text/javascript" src="js/sys/file/fieldFile.js"></script>
</body>
</html>