<div class="collapse navbar-collapse" id="sidebar-collapse">
    <ul class="nav navbar-nav side-nav">
        <li>
            <a href="javascript:void(0);">
                <i class="fa fa-fw fa-file"></i>档案管理<i class="fa fa-fw fa-caret-down"></i>
            </a>

            <ul>
                <li>
                    <a href="sys/file/block"><i class="fa fa-angle-right"></i>地块档案</a>
                </li>
                <li>
                    <a href="sys/file/field"><i class="fa fa-angle-right"></i>大棚档案</a>
                </li>
                <li>
                    <a href="sys/file/crop"><i class="fa fa-angle-right"></i>作物档案</a>
                </li>
                <li>
                    <a href="sys/file/employee"><i class="fa fa-angle-right"></i>员工档案</a>
                </li>
                <li>
                    <a href="sys/file/machine"><i class="fa fa-angle-right"></i>机械档案</a>
                </li>
                <li>
                    <a href="sys/file/vehicle"><i class="fa fa-angle-right"></i>车辆档案</a>
                </li>
                <li>
                    <a href="sys/file/sensor"><i class="fa fa-angle-right"></i>传感器档案</a>
                </li>
            </ul>
        </li>
    </ul>
</div>