<div class="collapse navbar-collapse" id="sidebar-collapse">
    <ul class="nav navbar-nav side-nav">
        <li>
            <a href="javascript:void(0);">
                <i class="fa fa-fw fa-file"></i>档案管理<i class="fa fa-fw fa-caret-down"></i>
            </a>

            <ul>
                <li>
                    <a href="sys/file/block"><i class="fa fa-angle-right"></i><span class="side-act">地块档案<span></a>
                </li>
                <li>
                    <a href="sys/file/field"><i class="fa fa-angle-right"></i>大棚档案</a>
                </li>
                <li>
                    <a href="sys/file/crop"><i class="fa fa-angle-right"></i>作物档案</a>
                </li>
                <li>
                    <a href="sys/file/employee"><i class="fa fa-angle-right"></i>员工档案</a>
                </li>
                <li>
                    <a href="sys/file/equipment"><i class="fa fa-angle-right"></i>设备档案</a>
                </li>
            </ul>
        </li>
    </ul>
</div>