<!DOCTYPE html>
<html>
<head>
    <!-- headers -->
    <#include "/common/standard.html"/>
    <title>档案管理</title>
</head>
<body>
<div id="wrapper">
    <!-- top navigation-->
    <#include "/common/topNav.html"/>

    <!-- side navigation -->
    <#include "/sys/file/fileSideNav.html"/>

    <!-- page content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="page-header">
                <h2>档案管理</h2>
            </div>

            <div class="row col-md-12">
                <ol class="breadcrumb">
                    <li><a href="">首页</a></li>
                    <li><a href="sys/file">档案管理</a></li>
                </ol>
            </div>

        </div><!--container-->
    </div><!--page wrapped-->

</div><!--wrapped-->

</body>
</html>