<!DOCTYPE html>
<html>
<head>
    <!-- headers -->
    <#include "/common/standard.html"/>
    <#include "/common/bootstrap-table.html"/>
    <#include "/common/bootstrap-select.html"/>
    <title>机械档案</title>
</head>
<body>
<div id="wrapper">
    <!-- top navigation-->
    <#include "/common/topNav.html"/>

    <!-- side navigation -->
    <#include "/sys/sysSideNav.html"/>

    <!-- page content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="page-header">
                <h2>机械档案</h2>
            </div>

            <div class="row col-md-12">
                <ol class="breadcrumb">
                    <li><a href="">首页</a></li>
                    <li><a href="sys/file">档案管理</a></li>
                    <li><a href="sys/file/machine">机械档案</a></li>
                </ol>
            </div>

            <!-- 查询工具栏 -->
            <div class="form-inline" id="queryToolBar">
                <div class="form-group">
                    <label for="queryMachineId">机械编号：</label>
                    <input id="queryMachineId" class="form-control">
                </div>
                <div class="form-group">
                    <label for="queryMachineType">机械型号：</label>
                    <input id="queryMachineType" class="form-control">
                </div>
                <div class="form-group">
                    <label for="queryBlock">地块名称：</label>
                    <select id="queryBlock" class="selectpicker" data-live-search="true">
                        <option value="" class="hide-option">请选择地块名称</option>
                        <#list blocks as block>
                            <option value="${block.blockId!}">${block.blockName!}</option>
                        </#list>
                    </select>
                </div>
                <div class="form-group">
                    <label for="queryUseStatus">使用状态：</label>
                    <select id="queryUseStatus" class="selectpicker">
                        <option value="" class="hide-option">请选择使用状态</option>
                        <option value="0">未使用</option>
                        <option value="1">使用中</option>
                        <option value="2">故障中</option>
                    </select>
                </div>
                <button class="btn btn-primary" id="queryBtn">查询</button>
                <button class="btn btn-success" id="resetBtn">重置</button>
                <button class="btn btn-danger" id="addBtn">新增</button>
            </div>
            <hr>

            <table id="machineFileTable"></table>

            <!-- 新增模态窗 -->
            <div class="modal fade" id="addModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">×</button>
                            <h4 class="modal-title">新增机械信息</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-inline btm-px">
                                <div class="form-group">
                                    <label for="addMachineId">机械编号：</label>
                                    <input id="addMachineId" class="form-control" placeholder="机械编号不可为空">
                                </div>
                                <div class="form-group">
                                    <label for="addMachineType">机械型号：</label>
                                    <input id="addMachineType" class="form-control" placeholder="机械型号不可为空">
                                </div>
                            </div>
                            <div class="form-inline btm-px">
                                <div class="form-group">
                                    <label for="addBlockId">所属地块：</label>
                                    <select id="addBlockId" class="selectpicker" data-live-search="true">
                                        <option value="" class="hide-option">请选择地块名称</option>
                                        <#list blocks as block>
                                            <option value="${block.blockId!}">${block.blockName!}</option>
                                        </#list>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="addUseStatus">使用状态：</label>
                                    <select id="addUseStatus" class="selectpicker">
                                        <option value="0">未使用</option>
                                        <option value="1">使用中</option>
                                        <option value="2">故障中</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-inline">
                                <div class="form-group">
                                    <label for="addMachinePs">机械备注：</label>
                                    <textarea id="addMachinePs" class="form-control" placeholder="限输入80个字符" rows="3"
                                              cols="60"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button class="btn btn-primary" id="saveAdd">保存</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 修改模态窗 -->
            <div class="modal fade" id="modifyModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">×</button>
                            <h4 class="modal-title">修改机械信息</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-inline btm-px">
                                <div class="form-group">
                                    <label for="modifyMachineId">机械编号：</label>
                                    <p id="modifyMachineId" class="form-control-static"></p>
                                </div>
                                <div class="form-group">
                                    <label for="modifyMachineType">机械型号：</label>
                                    <input id="modifyMachineType" class="form-control" placeholder="机械名称不可为空">
                                </div>
                            </div>
                            <div class="form-inline btm-px">
                                <div class="form-group">
                                    <label for="modifyBlockId">所属地块：</label>
                                    <select id="modifyBlockId" class="selectpicker" data-live-search="true">
                                        <option value="">待定</option>
                                        <#list blocks as block>
                                            <option value="${block.blockId!}">${block.blockName!}</option>
                                        </#list>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="modifyUseStatus">使用状态：</label>
                                    <select id="modifyUseStatus" class="selectpicker">
                                        <option value="0">未使用</option>
                                        <option value="1">使用中</option>
                                        <option value="2">故障中</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-inline">
                                <div class="form-group">
                                    <label for="modifyMachinePs">机械备注：</label>
                                    <textarea id="modifyMachinePs" class="form-control" placeholder="限输入80个字符"
                                              rows="3" cols="60"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button class="btn btn-primary" id="saveModify">保存</button>
                        </div>
                    </div>
                </div>
            </div>

        </div><!--container-->
    </div><!--page wrapped-->

</div><!--wrapped-->
</body>
<#include "/common/bootbox.html"/>
<script type="text/javascript" src="js/sys/file/machineFile.js"></script>
</html>