<div class="collapse navbar-collapse" id="sidebar-collapse">
    <ul class="nav navbar-nav side-nav">
        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#sys-man">
                <i class="fa fa-fw fa-leaf"></i>产品管理<i class="fa fa-fw fa-caret-down"></i>
            </a>
            <ul id="sys-man" class="collapse">
                <li>
                    <a href="javascript:void(0);"><i class="fa fa-angle-right"></i>新增产品</a>
                </li>
                <li>
                    <a href="javascript:void(0);"><i class="fa fa-angle-right"></i>产品查询</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#data-man">
                <i class="fa fa-fw fa-handshake-o"></i>用户管理<i class="fa fa-fw fa-caret-down"></i>
            </a>
            <ul id="data-man" class="collapse">
                <li>
                    <a href="javascript:void(0);"><i class="fa fa-angle-right"></i>用户查询</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#ctrl-man">
                <i class="fa fa-fw fa-truck"></i>订单管理<i class="fa fa-fw fa-caret-down"></i>
            </a>
            <ul id="ctrl-man" class="collapse">
                <li>
                    <a href="javascript:void(0);"><i class="fa fa-angle-right"></i>物流管理</a>
                </li>
                <li>
                    <a href="javascript:void(0);"><i class="fa fa-angle-right"></i>订单查询</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
</nav>