<!DOCTYPE html>
<html>
<head>
    <!-- headers -->
    <#include "/common/standard.html"/>
    <title>商务管理-欢迎使用智慧农业管理系统</title>
</head>
<body>
<div id="wrapper">
    <!-- top navigation-->
    <#include "/common/topNav.html"/>

    <!-- side navigation -->
    <#include "/biz/bizSideNav.html"/>

    <!-- 页面内容 -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="page-header">
                <h2>商务管理</h2>
            </div>

            <div class="row col-md-12">
                <ol class="breadcrumb">
                    <li><a href="">首页</a></li>
                    <li><a href="business">商务管理</a></li>
                </ol>
            </div>

            <div class="col-md-8">
                <div class="card-header-blue">
                    <i class="fa fa-bell-o"></i> 报警队列
                </div>
                <a class="list-group-item list-group-item-action" href="javascript:void(0)">
                    <div class="list-group list-group-flush">
                        <div>
                            <strong>David Miller</strong>posted a new article to
                            <div class="text-muted smaller">Today at 5:43 PM - 5m ago</div>
                        </div>
                    </div>
                </a>
                <a class="list-group-item list-group-item-action" href="javascript:void(0)">
                    <div class="list-group list-group-flush">
                        <div>
                            <strong>David Miller</strong>posted a new article to
                            <div class="text-muted smaller">Today at 5:43 PM - 5m ago</div>
                        </div>
                    </div>
                </a>
                <a class="list-group-item list-group-item-action" href="javascript:void(0)">
                    <div class="list-group list-group-flush">
                        <div>
                            <strong>David Miller</strong>posted a new article to
                            <div class="text-muted smaller">Today at 5:43 PM - 5m ago</div>
                        </div>
                    </div>
                </a>
                <a class="list-group-item list-group-item-action" href="sys/warn/record">查看所有报警记录...</a>
            </div>
        </div><!--container-->
    </div><!--page wrapped-->

</div><!--wrapped-->

</body>
</html>