<!DOCTYPE html>
<html>
<head>
    <!-- headers -->
    <#include "/common/standard.html"/>
    <title>首页-欢迎使用智慧农业管理系统</title>
</head>
<body>
<div id="wrapper">
    <!-- top navigation-->
    <#include "/common/topNav.html"/>

    <!-- side navigation -->
    <#include "/sys/sysSideNav.html"/>

    <!-- page content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row col-md-12">
                <div class="page-header">
                    <h1>传感器网络
                        <small> 传感器网络分布概览</small>
                    </h1>
                </div>
            </div>

            <div class="row col-md-12" v-for="block in blocks">
                <ol class="breadcrumb">
                    <li>
                        <a href="javascript:void(0);">
                            <i class="fa fa-list"></i>
                            <span class="bread-span" v-text="block.blockName"></span>
                            <i class="fa fa-compress icon-collapse"></i>
                        </a>
                    </li>
                </ol>

                <div class="row section-area">
                    <div class="field-card" v-for="section in block.sections">
                        <a href="javascript:void(0);">
                            <div class="card-header-blue" v-show="section.id % 3 == 0">
                                区块编号：{{ section.id }}
                            </div>
                            <div class="card-header-red" v-show="section.id % 3 == 1">
                                区块编号：{{ section.id }}
                            </div>
                            <div class="card-header-yellow" v-show="section.id % 3 == 2">
                                区块编号：{{ section.id }}
                            </div>
                            <div class="card-body"
                                 @mouseover="over($event, section.id, section.sectionName)" @mouseout="out">
                                <div class="card-body-content" v-text="section.sectionName"></div>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div><!--container-->
    </div><!--page wrapper-->

</div><!--wrapper-->
</body>
<script type="text/javascript" src="js/sys/index.js"></script>
</html>