<!-- 侧边栏 -->
<div class="collapse navbar-collapse" id="sidebar-collapse">
    <ul class="nav navbar-nav side-nav">
        <!-- 系统管理 -->
        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#sys-man">
                <i class="fa fa-fw fa-file"></i>系统档案<i class="fa fa-fw fa-caret-down"></i>
            </a>
            <ul id="sys-man" class="collapse">
                <li>
                    <a href="javascript:void(0);" data-toggle="collapse" data-target="#file-man">
                        <i class="fa fa-angle-right"></i>档案管理
                    </a>
                    <ul id="file-man" class="collapse third-menu">
                        <li>
                            <a href="sys/file/block"><i class="fa fa-tag"></i>地块档案</a>
                        </li>
                        <li>
                            <a href="sys/file/field"><i class="fa fa-tag"></i>大棚档案</a>
                        </li>
                        <li>
                            <a href="sys/file/crop"><i class="fa fa-tag"></i>作物档案</a>
                        </li>
                        <li>
                            <a href="sys/file/employee"><i class="fa fa-tag"></i>员工档案</a>
                        </li>
                        <li>
                            <a href="sys/file/machine"><i class="fa fa-tag"></i>机械档案</a>
                        </li>
                        <li>
                            <a href="sys/file/vehicle"><i class="fa fa-tag"></i>车辆档案</a>
                        </li>
                        <li>
                            <a href="sys/file/terminal"><i class="fa fa-tag"></i>终端档案</a>
                        </li>
                        <li>
                            <a href="sys/file/sensor"><i class="fa fa-tag"></i>传感器档案</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="sys/auth" id="auth-man"><i class="fa fa-angle-right"></i>权限管理</a>
                </li>
            </ul>
        </li>
        <!-- 数据管理 -->
        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#data-man">
                <i class="fa fa-fw fa-line-chart"></i>数据管理<i class="fa fa-fw fa-caret-down"></i>
            </a>
            <ul id="data-man" class="collapse">
                <li>
                    <a href="sys/data/query"><i class="fa fa-angle-right"></i>数据查询</a>
                </li>
                <li>
                    <a href="sys/data/analysis"><i class="fa fa-angle-right"></i>图表分析</a>
                </li>
            </ul>
        </li>
        <!-- 控制管理 -->
        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#ctrl-man">
                <i class="fa fa-fw fa-podcast"></i>控制管理<i class="fa fa-fw fa-caret-down"></i>
            </a>
            <ul id="ctrl-man" class="collapse">
                <li>
                    <a href="javascript:void(0);"><i class="fa fa-angle-right"></i>排灌管理</a>
                </li>
                <li>
                    <a href="javascript:void(0);"><i class="fa fa-angle-right"></i>编制排灌方案</a>
                </li>
            </ul>
        </li>
        <!-- 报警控制 -->
        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#warn-man">
                <i class="fa fa-fw fa-exclamation"></i>报警管理<i class="fa fa-fw fa-caret-down"></i>
            </a>
            <ul id="warn-man" class="collapse">
                <li>
                    <a href="sys/warn/threshold"><i class="fa fa-angle-right"></i>阈值设置</a>
                </li>
                <li>
                    <a href="sys/warn/record"><i class="fa fa-angle-right"></i>报警记录</a>
                </li>
                <li>
                    <a href="sys/warn/detail"><i class="fa fa-angle-right"></i>报警详情</a>
                </li>
            </ul>
        </li>
        <!-- 记录管理 -->
        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#log-man">
                <i class="fa fa-fw fa-pencil-square-o"></i>记录管理<i class="fa fa-fw fa-caret-down"></i>
            </a>
            <ul id="log-man" class="collapse">
                <li>
                    <a href="sys/memo"><i class="fa fa-angle-right"></i>备忘录</a>
                </li>
            </ul>
        </li>
        <!-- 帮助 -->
        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#help-man">
                <i class="fa fa-fw fa-info"></i>帮助文档<i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="help-man" class="collapse">
                <li>
                    <a href="sys/help"><i class="fa fa-angle-right"></i>帮助</a>
                </li>
            </ul>
        </li>
    </ul>
</div>