<!DOCTYPE html>
<html>
<head>
    <!-- headers -->
    <#include "/common/standard.html"/>
    <title>错误</title>
</head>
<body>
<div id="wrapper">
    <!-- top navigation-->
    <#include "/common/topNav.html"/>

    <!-- side navigation -->
    <#include "/sys/sysSideNav.html"/>

    <!-- page content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="col-md-12">
                <div class="jumbotron error-panel">
                    <h2 class="text-center">
                        发生错误 ${status!}
                    </h2>
                    <a href="sys" type="button" class="btn btn-danger center-block error-back">返回首页</a>
                </div>
            </div>
        </div><!--container-->
    </div><!--page wrapper-->

</div><!--wrapper-->
</body>
</html>