<!DOCTYPE html>
<html>
<head>
    <!-- headers -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/wa/">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <title>登录-欢迎使用智慧农业管理系统</title>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/login.css" rel="stylesheet">
</head>
<body>
<div class="login">
    <div class="login-title">智慧农业集成管理系统</div>
    <div class="wrap"></div>
    <div id="login-area">
        <div class="login-input-outer">
            <i class="fa fa-user login-input-icon"></i>
            <input id="username" placeholder="账号" class="login-input" type="text">
        </div>
        <div id="error-message">智慧农业集成</div>
        <div class="login-input-outer">
            <i class="fa fa-lock login-input-icon"></i>
            <input id="password" placeholder="密码" class="login-input" type="password">
        </div>
        <input value="登录" id="submit" class="login-submit" type="submit">
    </div>
</div>
<div class="login-copyright">© 2017 智慧农业集成管理系统 <a href="">南京林业大学</a></div>
</body>
<script type="text/javascript" src="js/login.js"></script>
</html>