<!DOCTYPE html>
<html>
<head>
    <!-- headers -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/wa/">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <title>登录-欢迎使用智慧农业管理系统</title>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <link href="http://106.14.200.121/wa-login/login.css" rel="stylesheet">
</head>
<body>
<div class="login">
    <div class="message">智慧农业集成管理系统</div>
    <div id="darkbannerwrap"></div>
    <div>
        <input name="username" placeholder="用户名" required="" type="text">
        <hr class="hr15">
        <input name="password" placeholder="密码" required="" type="password">
        <hr class="hr15">
        // TODO css
        <input value="登录" id="submit" type="submit">
        <hr class="hr20">
    </div>
</div>
<div class="copyright">© 2017 智慧农业集成管理系统 <a href="">南京林业大学</a></div>
</body>
<script type="javascript" src="js/login.js"></script>
</html>