<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>websocket test</title>
    <!-- headers -->
    <#include "/common/standard.html"/>
</head>
<body>
<input type="text" id="ipt" class="form-control">
<button id="send" class="btn btn-primary">send</button>
<button id="disconnect" class="btn btn-primary">disconnect</button>
<h1 id="txt"></h1>

<script type="text/javascript">
    var websocket;
    var url = "ws://" + window.location.host + '/' + window.location.pathname.split('/')[1] + '/syshandler';
    if (window.WebSocket) {
        console.log('Support WebSocket.');
        websocket = new WebSocket(url);
    } else {
        alert('Not Support WebSocket!');
    }

    websocket.onopen = function() {
        console.log('WebSocket open!');
    }

    websocket.onmessage = function(event) {
        $('#txt').append('<div>' + event.data + '</div>');
    }

    websocket.onerror = function() {
        alert('WebSocket error, reload the page!');
    }

    websocket.onclose = function() {
        console.log('WebSocket close!')
    }

    window.onbeforeunload = function() {
        websocket.close();
    }

    $('#send').click(function() {
        var text = $('#ipt').val();
        websocket.send(text);
    });

    $('#disconnect').click(function() {
        websocket.close();
    });
</script>
</body>
</html>