<!DOCTYPE html>
<html>
<head>
    <!-- headers -->
    <#include "/common/standard.html"/>
    <#include "/common/bootstrap-table.html"/>
    <#include "/common/bootstrap-select.html"/>
    <#include "/common/bootstrap-daterangepicker.html"/>
    <title>报警记录</title>
</head>
<body>
<div id="wrapper">
    <!-- top navigation-->
    <#include "/common/topNav.html"/>

    <!-- side navigation -->
    <#include "/sys/sysSideNav.html"/>

    <!-- page content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="page-header">
                <h2>报警记录</h2>
            </div>

            <div class="row col-md-12">
                <ol class="breadcrumb">
                    <li><a href="sys">首页</a></li>
                    <li><a href="sys/warn/record"></a></li>
                </ol>
            </div>

            <!-- 查询工具栏 -->
            <div class="form-inline" id="queryToolBar">
                <div class="form-group">
                    <label for="queryDate">起止时间：</label>
                    <input type="text" id="queryDate" class="form-control range-date">
                </div>
                <div class="form-group">
                    <label for="queryFieldId">大棚编号：</label>
                    <select id="queryFieldId" class="selectpicker" data-live-search="true">
                        <option value="" class="hide-option">请选择大棚编号</option>
                        <#list fields as field>
                        <option value="${(field.fieldId)!}">NO.${(field.fieldId)!}</option>
                    </#list>
                    </select>
                </div>
                <div class="form-group">
                    <label for="queryWarnType">报警类型：</label>
                    <select id="queryWarnType" class="selectpicker" data-live-search="true">
                        <option value="" class="hide-option">请选择报警类型</option>
                        <option value="1">温度</option>
                        <option value="2">湿度</option>
                        <option value="3">土壤温度</option>
                        <option value="4">土壤湿度</option>
                        <option value="5">光照度</option>
                        <option value="6">CO2浓度</option>
                        <option value="7">pH（土壤酸碱度）</option>
                        <option value="8">N（氮含量）</option>
                        <option value="9">P（磷含量）</option>
                        <option value="10">K（钾含量）</option>
                        <option value="11">Hg（汞含量）</option>
                        <option value="12">Pb（铅含量）</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="queryFlag">处理标志：</label>
                    <select id="queryFlag" class="selectpicker">
                        <option value="" class="hide-option">请选择处理标志</option>
                        <option value="0">未处理</option>
                        <option value="1">已处理</option>
                        <option value="2">已忽略</option>
                    </select>
                </div>
                <button class="btn btn-primary" id="queryBtn">查询</button>
                <button class="btn btn-success" id="resetBtn">重置</button>
            </div>
            <hr>

            <table id="recordTable"></table>

        </div><!--container-->
    </div><!--page wrapped-->

</div><!--wrapped-->
</body>
<script type="text/javascript" src="js/sys/warn/record.js"></script>
</html>