<!DOCTYPE html>
<html>
<head>
    <!-- headers -->
    <#include "/common/standard.html"/>
    <title>阈值设置</title>
</head>
<body>
<div id="wrapper">
    <!-- top navigation-->
    <#include "/common/topNav.html"/>

    <!-- side navigation -->
    <#include "/sys/sysSideNav.html"/>

    <!-- page content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="page-header">
                <h2>阈值设置</h2>
            </div>

            <div class="row col-md-12">
                <ol class="breadcrumb">
                    <li><a href="">首页</a></li>
                    <li><a href="sys/warn/threshold">阈值设置</a></li>
                </ol>
            </div>



        </div><!--container-->
    </div><!--page wrapped-->

</div><!--wrapped-->
<#include "/common/ion-rangeslider.html"/>
<script type="text/javascript" src="js/sys/warn/thresholdSet.js"></script>
</body>
</html>