<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.njfu.wa.sys.mapper.BlockMapper">

    <select id="selectBlocks" resultType="Block">
        SELECT block_id, block_name, block_loc, block_ps
        FROM block
    </select>

    <resultMap id="blocksAndFieldsMap" type="Block">
        <id property="blockId" column="block_id"/>
        <result property="blockName" column="block_name"/>
        <collection property="fields" column="block_id" select="selectFields"/>
    </resultMap>

    <select id="selectBlocksAndFields" resultMap="blocksAndFieldsMap">
        SELECT block_id, block_name
        FROM block
    </select>

    <select id="selectFields" resultType="Field">
        SELECT field_id
        FROM field
        WHERE block_id = #{block_id} AND use_status = '1'
    </select>

    <select id="selectBlockById" resultType="Block">
        SELECT block_id, block_name
        FROM block
        WHERE block_id = #{block_id}
    </select>
</mapper>	