<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.njfu.wa.sys.mapper.CropMapper">

    <select id="com.njfu.wa.sys.mapper.CropMapper.selectCrops" resultType="Crop">
        SELECT crop_id, crop_name, crop_ps
        FROM crop
        <where>
            <if test="null != cropId and !''.equals(cropId)">
                crop_id = #{cropId}
            </if>
            <if test="null != cropName and !''.equals(cropName)">
                crop_name LIKE CONCAT('%', #{cropName}, '%')
            </if>
        </where>
    </select>

    <select id="selectCropById" resultType="Crop">
        SELECT crop_id, crop_name
        FROM crop
        WHERE crop_id = #{crop_id}
    </select>

    <insert id="insertCrop">
        INSERT INTO crop(crop_id, crop_name, crop_ps)
        VALUES (#{cropId}, #{cropName}, #{cropPs})
    </insert>

    <update id="updateCrop">
        UPDATE crop
        SET crop_name = #{cropName}, crop_ps = #{cropPs}
        WHERE crop_id = #{cropId}
    </update>

    <delete id="deleteCrop">
        DELETE FROM crop
        WHERE crop_id = #{cropId}
    </delete>
</mapper>	