<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.njfu.ia.sys.mapper.DataRecordMapper">

    <resultMap id="DataRecordMap" type="DataRecord">
        <id property="id" column="id"/>
        <result property="sensorId" column="sensor_id"/>
        <result property="dataType" column="data_type"/>
        <result property="val" column="val"/>
        <result property="recordTime" column="record_time"/>
        <association property="fieldId" column="sensor_id"
                     select="com.njfu.ia.sys.mapper.SensorMapper.selectFieldBySensor"/>
    </resultMap>

    <select id="selectDataRecords" resultMap="DataRecordMap">
        SELECT id, sensor_id, data_type, val, record_time
        FROM data_record
        <where>
            <if test="null != sensorId and !''.equals(sensorId)">
                sensor_id = #{sensorId}
            </if>
            <if test="null != dataType and !''.equals(dataType)">
                AND data_type = #{dataType}
            </if>
            <if test="null != sensorIds and sensorIds.size > 0">
                AND sensor_id IN
                <foreach collection="sensorIds" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="null != start and !''.equals(start)">
                AND record_time &gt;= DATE_FORMAT(#{start}, '%Y:%m:%d')
            </if>
            <if test="null != end and !''.equals(end)">
                AND record_time &lt;= DATE_FORMAT(#{end}, '%Y:%m:%d')
            </if>
        </where>
        ORDER BY id DESC
    </select>

    <select id="selectChartData" resultType="DataRecord">
        SELECT data_type, val, record_time
        FROM data_record
        WHERE record_time >= #{date}
        AND data_type IN
        <foreach collection="dataTypes" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND sensor_id IN
        <foreach collection="sensorIds" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        ORDER BY record_time
    </select>

</mapper>