<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.njfu.ia.sys.mapper.EmployeeMapper">

    <select id="selectEmployees" resultType="Employee">
        SELECT emp_id, emp_name, emp_tel, emp_position, emp_age, emp_sex, emp_mail, mail_status, emp_ps
        FROM employee
        <where>
            <if test="null != empId and !''.equals(empId)">
                emp_id = #{empId}
            </if>
            <if test="null != empName and !''.equals(empName)">
                AND emp_name LIKE CONCAT('%', #{empName}, '%')
            </if>
            <if test="null != mailStatus">
                AND mail_status = #{mailStatus}
            </if>
        </where>
    </select>

    <insert id="insertEmployee">
        INSERT IGNORE INTO employee (emp_id, emp_name, emp_tel, emp_position, emp_age, emp_sex, emp_mail, mail_status,
        emp_ps)
        VALUES
        (#{empId}, #{empName}, #{empTel}, #{empPosition}, #{empAge}, #{empSex}, #{empMail}, #{mailStatus}, #{empPs})
    </insert>

    <update id="updateEmployee">
        UPDATE employee
        SET emp_name = #{empName}, emp_tel = #{empTel}, emp_position = #{empPosition}, emp_age = #{empAge},
        emp_sex = #{empSex}, emp_mail = #{empMail}, mail_status = #{mailStatus}, emp_ps = #{empPs}
        WHERE emp_id = #{empId}
    </update>

    <delete id="deleteEmployee">
        DELETE FROM employee
        WHERE emp_id = #{empId}
    </delete>
</mapper>	