<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.njfu.wa.sys.mapper.FieldMapper">

    <resultMap id="fieldMap" type="Field">
        <id property="fieldId" column="field_id"/>
        <result property="fieldName" column="field_name"/>
        <result property="useStatus" column="use_status"/>
        <result property="fieldPs" column="field_ps"/>
        <association property="block" column="block_id" select="com.njfu.wa.sys.mapper.BlockMapper.selectBlockById"/>
        <association property="crop" column="crop_id" select="com.njfu.wa.sys.mapper.CropMapper.selectCropById"/>
    </resultMap>

    <select id="selectFields" resultMap="fieldMap">
        SELECT field_id, field_name, block_id, crop_id, use_status, field_ps
        FROM field
        <where>
            <if test="null != fieldName and !''.equals(fieldName)">
                field_name LIKE CONCAT('%', #{fieldName}, '%')
            </if>
            <if test="null != block.blockId and !''.equals(block.blockId)">
                AND block_id = #{block.blockId}
            </if>
            <if test="null != crop.cropId and !''.equals(crop.cropId)">
                AND crop_id = #{crop.cropId}
            </if>
            <if test="null != useStatus and !''.equals(useStatus)">
                AND use_status = #{useStatus}
            </if>
        </where>
    </select>

    <select id="selectFieldById" resultType="Field">
        SELECT field_id
        FROM field
        WHERE field_id = #{field_id}
    </select>

    <insert id="insertField">
        INSERT IGNORE INTO field (field_id, field_name, block_id, crop_id, use_status, field_ps)
        VALUES (#{fieldId}, #{fieldName}, #{block.blockId}, #{crop.cropId}, #{useStatus}, #{fieldPs})
    </insert>

    <update id="updateField">
        UPDATE field
        SET field_name = #{fieldName}, block_id = #{block.blockId}, crop_id = #{crop.cropId},
        use_status = #{useStatus}, field_ps = #{fieldPs}
        WHERE field_id = #{fieldId}
    </update>

    <delete id="deleteField">
        DELETE FROM field
        WHERE field_id = #{fieldId}
    </delete>
</mapper>	