<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.njfu.ia.sys.mapper.FieldMapper">

    <select id="selectFields" resultType="Field">
        SELECT f.id, f.field_name, f.section_id, f.crop_id, c.crop_name
        FROM field f LEFT JOIN section s ON f.section_id = s.id LEFT JOIN crop c ON c.id = f.crop_id
        <where>
            <if test="null != fieldName and !''.equals(fieldName)">
                f.field_name = #{fieldName}
            </if>
            <if test="null != sectionId">
                AND s.id = #{sectionId}
            </if>
            <if test="null != cropId">
                AND c.id = #{cropId}
            </if>
        </where>
    </select>

    <insert id="insertField">
        INSERT INTO field (field_name, section_id, crop_id)
        VALUES (#{fieldName}, #{sectionId}, #{cropId})
    </insert>

    <update id="updateField">
        UPDATE field
        SET field_name = #{fieldName}, section_id = #{sectionId}, crop_id = #{crop.cropId}
        WHERE id = #{id}
    </update>

    <delete id="deleteField">
        DELETE FROM field
        WHERE id = #{id}
    </delete>

    <select id="selectFieldById" resultType="Field">
        SELECT field_id
        FROM field
        WHERE field_id = #{field_id}
    </select>


    <resultMap id="fieldMap" type="Field">
        <id property="fieldId" column="field_id"/>
        <result property="fieldName" column="field_name"/>
        <result property="useStatus" column="use_status"/>
        <result property="fieldPs" column="field_ps"/>
        <association property="block" column="block_id" select="com.njfu.ia.sys.mapper.BlockMapper.selectBlockById"/>
        <association property="crop" column="crop_id" select="com.njfu.ia.sys.mapper.CropMapper.selectCropById"/>
    </resultMap>

</mapper>