<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.njfu.ia.sys.mapper.IrrigationPlanMapper">

    <select id="selectIrrigationPlans" resultType="IrrigationPlan">
        SELECT
        id,
        plan_volume,
        duration
        FROM irrigation_plan
        <where>
            <if test="null != id">
                id = #{id}
            </if>
        </where>
    </select>

    <insert id="insertIrrigationPlan">
        INSERT INTO irrigation_plan (id, plan_volume, duration)
        VALUES (NULL, #{planVolume}, #{duration})
    </insert>

    <update id="updateIrrigationPlan">
        UPDATE irrigation_plan
        <set>
            <if test="null != planVolume">
                plan_volume = #{planVolume},
            </if>
            <if test="null != duration">
                duration = #{duration},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteIrrigationPlan">
        DELETE FROM irrigation_plan
        WHERE id = #{id}
    </delete>
</mapper>	