<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.njfu.wa.sys.mapper.MachineMapper">

    <resultMap id="machineMap" type="Machine">
        <id property="machineId" column="machine_id"/>
        <result property="machineType" column="machine_type"/>
        <result property="useStatus" column="use_status"/>
        <result property="machinePs" column="machine_ps"/>
        <association property="block" column="block_id" select="com.njfu.wa.sys.mapper.BlockMapper.selectBlockById"/>
    </resultMap>

    <select id="selectMachines" resultMap="machineMap">
        SELECT machine_id, machine_type, block_id, use_status, machine_ps
        FROM machine
        <where>
            <if test="null != machineId and !''.equals(machineId)">
                machine_id = #{machineId}
            </if>
            <if test="null != machineType and !''.equals(machineType)">
                AND machine_type LIKE CONCAT('%', #{machineType}, '%')
            </if>
            <if test="null != block.blockId and !''.equals(block.blockId)">
                AND block_id = #{block.blockId}
            </if>
            <if test="null != useStatus and !''.equals(useStatus)">
                AND use_status = #{useStatus}
            </if>
        </where>
    </select>

    <insert id="insertMachine">
        INSERT INTO machine (machine_id, machine_type, block_id, use_status, machine_ps)
        VALUES (#{machineId}, #{machineType}, #{block.blockId}, #{useStatus}, #{machinePs})
    </insert>

    <update id="updateMachine">
        UPDATE machine
        SET machine_type = #{machineType}, block_id = #{block.blockId}, use_status = #{useStatus}, machine_ps =
        #{machinePs}
        WHERE machine_id = #{machineId}
    </update>

    <delete id="deleteMachine">
        DELETE FROM machine
        WHERE machine_id = #{machineId}
    </delete>
</mapper>	