<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.njfu.wa.sys.mapper.SecurityMapper">

    <select id="selectUser" resultType="User">
        SELECT
            id,
            name,
            password,
            salt
        FROM user
        WHERE username = #{username}
    </select>

    <select id="selectRoles" resultType="Role">
        SELECT
            r.id        AS id,
            r.role_name AS role_name
        FROM role r LEFT JOIN user_roles ur ON r.id = ur.role_id
        <where>
            <if test="null != roleName and !''.equals(roleName)">
                r.role_name = #{roleName}
            </if>
            <if test="null != userId and !''.equals(userId)">
                AND ur.user_id = #{userId}
            </if>
        </where>
    </select>

    <select id="selectPermissionsByRoles" resultType="Permission">
        SELECT
        p.id AS id,
        p.url AS url,
        p.url_name AS url_name
        FROM role_permissions rp LEFT JOIN permission p ON rp.permission_id = p.id
        WHERE rp.role_id IN
        <foreach collection="roles" item="item" separator="," open="(" close=")">
            #{item.id}
        </foreach>
    </select>

    <select id="selectStringPermissions" resultType="java.lang.String">
        SELECT p.perm
        FROM role_permissions rp LEFT JOIN permission p ON rp.permission_id = p.id
        WHERE rp.role_id IN (SELECT r.id
                             FROM user_roles ur LEFT JOIN role r ON ur.role_id = r.id
                             WHERE ur.user_id = #{userId})
    </select>

    <select id="selectPermissions" resultType="Permission">
        SELECT
            id,
            url,
            url_name,
            perm
        FROM permission
        ORDER BY id
    </select>

    <insert id="insertRole">
        INSERT INTO role (id, role_name)
        VALUES (NULL, role_name)
    </insert>

    <delete id="deleteRole">
        DELETE FROM role
        WHERE id = #{roleId}
    </delete>

    <insert id="insertRolePermissions">
        INSERT INTO role_permissions(role_id, permission_id)
        VALUES
        <foreach collection="permissionIds" item="item" open="(" separator="," close=")">
            #{roleId}, #{item}
        </foreach>
    </insert>

    <delete id="deleteRolePermissions">
        <foreach collection="permissionIds" item="item">
            DELETE FROM role_permissions
            WHERE role_id = #{roleId}
            AND permission_id = #{item}
        </foreach>
    </delete>

    <insert id="insertUserRoles">
        INSERT INTO user_roles(user_id, role_id)
        VALUES
        <foreach collection="roleIds" item="item" open="(" separator="," close=")">
            #{userId}, #{item}
        </foreach>
    </insert>

    <delete id="deleteUserRoles">
        <foreach collection="roleIds" item="item">
            DELETE FROM user_roles
            WHERE user_id = #{userId}
            AND role_id = #{item}
        </foreach>
    </delete>

    <select id="selectUsers" resultType="User">
        SELECT id, name, username, status
        FROM user
        <where>
            <if test="null != username and !''.equals(username)">
                username = #{username}
            </if>
        </where>
        ORDER BY id
    </select>

    <insert id="insertUser">
        INSERT INTO user (id, name, username, password, salt, status)
        VALUES (NULL, #{name}, #{username}, #{password}, #{salt}, #{status})
    </insert>

    <update id="updateUser">
        UPDATE user
        <set>
            <if test="null != name and !''.equals(name)">
                name = #{name},
            </if>
            <if test="null != password and !''.equals(password)">
                password = #{password},
            </if>
            <if test="null != status and !''.equals(status)">
                status = #{status}
            </if>
        </set>
    </update>

    <delete id="deleteUser">
        DELETE FROM user
        WHERE id = #{userId}
    </delete>
</mapper>	