<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.njfu.ia.sys.mapper.SensorMapper">

    <resultMap id="sensorMap" type="Sensor">
        <id property="sensorId" column="sensor_id"/>
        <result property="sensorFunc" column="sensor_func"/>
        <result property="sensorType" column="sensor_type"/>
        <result property="terminalId" column="terminal_id"/>
        <result property="useStatus" column="use_status"/>
        <result property="sensorPs" column="sensor_ps"/>
        <association property="field" column="field_id" select="com.njfu.ia.sys.mapper.FieldMapper.selectFieldById"/>
    </resultMap>

    <select id="selectSensors" resultMap="sensorMap">
        SELECT sensor_id, sensor_func, sensor_type, field_id, terminal_id, use_status, sensor_ps
        FROM sensor
        <where>
            <if test="null != sensorId and !''.equals(sensorId)">
                sensor_id = #{sensorId}
            </if>
            <if test="null != sensorFunc and !''.equals(sensorFunc)">
                AND sensor_func = #{sensorFunc}
            </if>
            <if test="null != sensorType and !''.equals(sensorType)">
                AND sensor_type LIKE CONCAT('%', #{sensorType}, '%')
            </if>
            <if test="null != field.fieldId and !''.equals(field.fieldId)">
                AND field_id = #{field.fieldId}
            </if>
            <if test="null != terminalId and !''.equals(terminalId)">
                AND terminal_id = #{terminalId}
            </if>
            <if test="null != useStatus and !''.equals(useStatus)">
                AND use_status = #{useStatus}
            </if>
        </where>
    </select>

    <insert id="insertSensor">
        INSERT INTO sensor (sensor_id, sensor_func, sensor_type, field_id, terminal_id, use_status, sensor_ps)
        VALUES (#{sensorId}, #{sensorFunc}, #{sensorType}, #{field.fieldId}, #{terminalId}, #{useStatus}, #{sensorPs})
    </insert>

    <update id="updateSensor">
        UPDATE sensor
        SET sensor_func = #{sensorFunc}, sensor_type = #{sensorType}, field_id = #{field.fieldId},
        terminal_id = #{terminalId}, use_status = #{useStatus}, sensor_ps = #{sensorPs}
        WHERE sensor_id = #{sensorId}
    </update>

    <delete id="deleteSensor">
        DELETE FROM sensor
        WHERE sensor_id = #{sensorId}
    </delete>

    <update id="updateSensorField">
        UPDATE sensor
        SET field_id = NULL
        WHERE field_id = #{fieldId}
    </update>

    <select id="selectFieldBySensor" resultType="java.lang.String">
        SELECT field_id
        FROM sensor
        WHERE sensor_id = #{sensor_id}
    </select>

    <select id="selectSensorsByField" resultType="java.lang.String">
        SELECT sensor_id
        FROM sensor
        WHERE field_id = #{fieldId}
    </select>
</mapper>	