<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.njfu.wa.sys.mapper.TerminalMapper">

    <select id="selectTerminals" resultType="Terminal">
        SELECT terminal_id, terminal_type, use_status, termial_ps
        FROM terminal
        <where>
            <if test="null != terminalId and !''.equals(terminalId)">
                terminal_id = #{terminalId}
            </if>
            <if test="null != terminalType and !''.equals(terminalType)">
                AND terminal_type LIKE CONCAT('%', #{terminalType}, '%')
            </if>
            <if test="null != useStatus and !''.equals(useStatus)">
                AND use_status = #{useStatus}
            </if>
        </where>
    </select>

    <insert id="insertTerminal">
        INSERT INTO terminal (terminal_id, terminal_type, use_status, termial_ps)
        VALUES (#{terminalId}, #{terminalType}, #{useStatus}, #{terminalPs})
    </insert>

    <update id="updateTerminal">
        UPDATE terminal
        SET terminal_type = #{terminalType}, use_status = #{useStatus}, termial_ps = #{terminalPs}
        WHERE terminal_id = #{terminalId}
    </update>

    <delete id="deleteTerminal">
        DELETE FROM terminal
        WHERE terminal_id = #{terminalId}
    </delete>
</mapper>	