<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.njfu.ia.sys.mapper.WarnRecordMapper">

    <insert id="insertWarnRecord">
        INSERT INTO warn_record (field_id, warn_type, warn_val)
        VALUES (#{fieldId}, ${warnType}, ${warnVal})
    </insert>

    <select id="selectWarnRecord" resultType="WarnRecord">
        SELECT id, field_id, warn_type, warn_val, warn_time, warn_count, handle_time, flag
        FROM warn_record
        <where>
            <if test="null != warnRecord.fieldId and !''.equals(warnRecord.fieldId)">
                field_id = #{warnRecord.fieldId}
            </if>
            <if test="null != warnRecord.warnType and !''.equals(warnRecord.warnType)">
                AND warn_type = #{warnRecord.warnType}
            </if>
            <if test="null != start and !''.equals(start)">
                AND warn_time &gt;= DATE_FORMAT(#{start}, '%Y:%m:%d')
            </if>
            <if test="null != end and !''.equals(end)">
                AND warn_time &lt;= DATE_FORMAT(#{end}, '%Y:%m:%d')
            </if>
            <if test="null != warnRecord.flag and !''.equals(warnRecord.flag)">
                AND flag = #{warnRecord.flag}
            </if>
        </where>
        ORDER BY id DESC
    </select>

    <resultMap id="recordMap" type="WarnRecord">
        <id property="id" column="id"/>
        <result property="fieldId" column="field_id"/>
        <result property="warnType" column="warn_type"/>
        <result property="warnVal" column="warn_val"/>
        <result property="warnTime" column="warn_time"/>
        <result property="handleTime" column="handle_time"/>
        <result property="flag" column="flag"/>
        <association property="warnThreshold" column="warn_type"
                     select="com.njfu.ia.sys.mapper.WarnThresholdMapper.selectWarnThresholdByThresholdType"/>
    </resultMap>

    <select id="selectWarnRecordByFlag" resultMap="recordMap">
        SELECT id, field_id, warn_type, warn_val, warn_time, warn_count, handle_time, flag
        FROM warn_record
        WHERE flag = #{flag}
        ORDER BY id DESC
    </select>

    <update id="updateWarnRecord">
        UPDATE warn_record
        SET flag = #{flag}, handle_time = NOW()
        WHERE id IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

    <select id="selectCount" resultType="int">
        SELECT COUNT(0)
        FROM warn_record
        WHERE flag = #{flag}
    </select>

    <select id="checkWarn" statementType="CALLABLE">
        CALL check_warn()
    </select>

</mapper>	